<div id="form">
    <p>Please create your account</p>
    <hr/>
    <form action="/signup" method="post">
      <div class="form-group">
        <label for="form_username">Username</label>
        <input id="form_username" type="text" name="username" />
      </div>
      <div class="form-group">
        <label for="form_email">Email</label>
        <input id="form_email" type="text" name="email" />
      </div>
      <div class="form-group">
        <label for="form_password">Password</label>
        <input id="form_password" type="password" name="password" />
      </div>
      <button class="btn btn-primary btn-block" type="submit" value="Submit">Create</button>
    </form>
    <hr/>
  </div>