<!DOCTYPE html>

<html>
    <head>
        <title>User</title>
        <style>
            a {text-decoration: none; color: black;}
        </style>
                <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js"></script>

    </head>

    <body class="container">
        <div class="col-md-6 col-md-offset-3">
                <a> Hello : <%= connectedUser.username %> </a>
                <button class="btn btn-success btn-block" type="submit" href="/" onClick='document.location.href="/"'>
                    Disconnect
                  </button>
                <ul>
                        <% metrics.forEach(function(metric) { %>
                          <li>
                                    <button class="delete-metrics"  data-value="<%= metric._id%>"> 
                                            ✘
                                    </button>
                                     <%= metric.value %> : <%= metric.timestamp %>
                                     <button class="update-metrics"  data-value="<%= metric._id%>"> 
                                        Update value
                                </button>
                          </li>
                          <% }); %>
                      </ul>
        <form action="/metrics" method="post"> 
        <button class="btn btn-primary btn-block" name="timestamp" value="<%= new Date().valueOf()%>"> 
                        Bring the metrics
        </button>
        <button class="show-metrics" > 
           Shows the metrics
        </button>
    </form>
    <script>
            $('.delete-metrics').click((e) => {
            e.preventDefault();
            $.ajax({
                url: '/metrics',
                type: 'DELETE',
                data: {id :$(e.target).data('value')},
                success:function(result){
                    document.location.reload();
                }
            })
    })
    </script>
        <script>
            $('.update-metrics').click((e) => {
            e.preventDefault();
            $.ajax({
                url: '/metrics',
                type: 'PATCH',
                data: {id :$(e.target).data('value')},
                success:function(result){
                    document.location.reload();
                }
            })
    })
    </script>

    </div>
        <canvas id="myChart" width="400" height="400"></canvas>
        <script  type="text/javascript" >
        var valueList = []
        var  timestampList = []
        $('.show-metrics').click((e) => {
                e.preventDefault();
        $.ajax({
            method: "GET",
            url: "/metrics",
            dataType: 'json',
            success:(data)=>{
                console.log('ajax success')
                for (i = 0; i< data.length; i++){
                    valueList[i] = data[i].value
                    timestampList[i] = data[i].timestamp
                }
                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: timestampList,
                                datasets: [{
                                    label: 'My First dataset',
                                    data: valueList
                                    
                    }]
                },
                    options: {
                    }
                });
            }
            
        })
    
        })
        
        </script>

    </body>
</html>